body, html {
    margin: 0;
    padding: 0;
    text-align: left;
    background-image: linear-gradient(#1a1a1a 30%, #353535 70%);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

*{
    margin: 0;
    padding: 0;
    color: white;
}


div:not(.linksTo) {
    margin-left: 10px;
}


html, .upperSection {
    width: 100%;
    background-color: #1a1a1a;
}


.linksTo {
    width: 100%;
    background-color: #353535;
}


.aboutMeText{
    left:50px;
}


.aboutMe {
}


/* right: 17px; */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.threeDRasterTitle {
    margin-left: 10px;
}

.rasterContainer {
    position:center;
/*    right: 50%;
    top: 90%;*/
}

/*border: 1px solid white;
*/
#raster {
/*    top: 0;
    right: 17px;*/
    position: relative;
    width: 700px;
    height: 700px;
}

.about3DRaster {
    max-width: 400px;
    min-width: 100px;
    float: right;
}

.buttonContainer {
    position: relative;
    left: 760px;
    bottom: 60px;
}

.rightButton {
    position: absolute;
    transform: translateX(60%) translateY(0);
    color: black;
}
.leftButton {
    position: absolute;
    transform: translateX(-60%) translateY(0);
    color: black;
}
.upButton {
    position: absolute;
    transform: translateX(10%) translateY(-180%);
    color: black;
}
.downButton {
    position: absolute;
    transform: translateX(-3%) translateY(180%);
    color: black;
}
.inButton {
    position: absolute;
    transform: translateX(150px) translateY(-60%);
    color: black;
}
.outButton {
    position: absolute;
    transform: translateX(150px) translateY(60%);
    color: black;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}